[user]
  name = Dave Kroondyk
  email = davekaro@gmail.com
  #signingkey = AD559386
[alias]
  ci = commit
  st = status
  co = checkout
  aa = add --all
  di = diff
  dc = diff --cached
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  delete-merged-branches = !git branch --merged master     | grep -v -e 'master' -e '\\*' | xargs -n 1 git branch -d && git remote prune origin
[color]
  status = auto
  diff   = auto
  branch = auto
[merge]
  tool = p4merge
[mergetool]
  keepBackup = false
[branch]
  autosetuprebase = always

[push]
  default = simple
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
#[commit]
  #gpgsign = true
[core]
  editor = vim
